@model IEnumerable<LibraryManagerApp.Models.Book>

<h2>Список книг</h2>
<table class="table">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Кількість сторінок</th>
        <th>Жанр</th>
        <th>Автор</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
    <tr>
        <td>@book.Title</td>
        <td>@book.Pages</td>
        <td>@book.Genre</td>
        <td>@book.Author.LastName</td>
        <td>
            <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Редагувати</a> |
            <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Деталі</a> |
            <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Видалити</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Додати нову книгу</a>

@section Scripts{
<partial name = "_ValidationScriptsPartial"/>
}
