@model IEnumerable<LibraryManagerApp.Models.Author>

<h2>Список авторів</h2>

<table class="table">
    <thead>
    <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Дата народження</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
    <tr>
        <td>@author.LastName</td>
        <td>@author.FirstName</td>
        <td>@author.MiddleName</td>
        <td>@author.DateOfBirth.ToString("dd/MM/yyyy")</td>
        <td>
            <a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-sm btn-warning">Редагувати</a> |
            <a asp-action="Details" asp-route-id="@author.Id" class="btn btn-sm btn-info">Деталі</a> |
            <a asp-action="Delete" asp-route-id="@author.Id" class="btn btn-sm btn-danger">Видалити</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Додати автора</a>

@section Scripts{
<partial name = "_ValidationScriptsPartial"/>
}